:root {
      --bg-my-dark: #2C3E50;
      --bg-my-darklight: #3A546D;
      --bg-my-green: #1ABC9C;
      --bg-my-transparent-green: rgba(26, 188, 156, 0.6);
}

header, #footer-bottom {
      background-color: var(--bg-my-dark);
}

.custom-toggler {
      border-color: white;
}

.nav-link {
      font-size: 12px;
}

.nav-link:hover {
      color: var(--bg-my-green) !important;
}

#jumbotron, #about,
#send-button {
      background-color: var(--bg-my-green);
}

#portfolio, #contact {
      color: var(--bg-my-dark);
}

#footer-top {
      background-color: var(--bg-my-darklight);
}

#jumbotron img {
      width: 200px;
}

.my-over {
      display: none;
      background-color: var(--bg-my-transparent-green);
}

.my-card:hover .my-over {
      display: block;
}

.form-control {
      border: 2px solid #ced4da;
}

.form-control:focus {
      box-shadow: none;
}

.circle {
      width: 40px;
      height: 40px;
      border: 1px solid white;
      border-radius: 50%;
}

.circle:hover {
      background-color: rgba(255, 255, 255, 0.3);
}

#footer-top a:last-child {
      color: var(--bg-my-green);
      text-decoration: none;
}

#footer-top a:last-child:hover {
      text-decoration: underline;
}

#footer-bottom {
      font-size: 12px;
}

.dash {
      height: 3px;
      width: 80px;
}

.dash-dark {
      background-color: #2C3E50;
}

.dash-light {
      background-color: white;
}