:root {
      --bg-my-dark: #2C3E50;
      --bg-my-darklight: #3A546D;
      --bg-my-green: #1ABC9C;
}

header {
      background-color: var(--bg-my-dark);
}

.custom-toggler {
      border-color: white;
}

#jumbotron, #about {
      background-color: var(--bg-my-green);
}

#portfolio {
      color: var(--bg-my-dark);
}

