:root {
      --bg-my-dark: #2C3E50;
      --bg-my-darklight: #3A546D;
      --bg-my-green: #1ABC9C;
}

header, #footer-bottom {
      background-color: var(--bg-my-dark);
}

.custom-toggler {
      border-color: white;
}

#jumbotron, #about,
#send-button {
      background-color: var(--bg-my-green);
}

#portfolio, #contact {
      color: var(--bg-my-dark);
}

#footer-top {
      background-color: var(--bg-my-darklight);
}

#jumbotron img {
      width: 200px;
}

.form-control {
      border: 2px solid #ced4da;
}

.form-control:focus {
      box-shadow: none;
}

#footer-top span {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid white;
}

.circle {
      width: 40px;
      height: 40px;
      border: 1px solid white;
      border-radius: 50%;
}

#footer-top a {
      color: var(--bg-my-green);
}

#footer-bottom {
      font-size: 12px;
}

/* #footer-top a:hover {
      text-decoration: underline;
} */
.dash {
      height: 3px;
      width: 50px;
}

.dash-dark {
      background-color: #2C3E50;
}

.dash-light {
      background-color: white;
}